.app {
  &__header {
    border-bottom: 3rem solid transparent;
    border-image: url("../public/media/border2.svg") 20 stretch;
    text-align: center;

    h1 {
      background-image: url("../public/media/acrylic.svg");
      background-clip: text;
      color: transparent;
      -webkit-text-stroke: 0.5px gray;
      font-size: 300%;
      margin: 1rem 0;
    }

    nav {
      a {
        padding: 0 2rem;
      }
    }
  }

  &__body {
    display: grid;
    grid-template-areas: "about" "projects" "contact";
    padding: 3% 10%;

    h2 {
      font-family: "Helvetica Neue", "Helvetica", sans-serif;
      text-transform: uppercase;
    }

    h3 {
      text-decoration: underline dotted rgb(143, 234, 228);
    }

    section {
      margin: 0.5rem 0;
    }
  }

  .card {
    background-color: rgb(253, 249, 250);
    border: 2px solid lightgray;
    border-radius: 2rem;
    padding: 1rem;
  }

  .about {
    grid-area: about;
    display: grid;
    grid-template-areas: "text image";
    grid-template-columns: 3fr 1fr;
    align-items: center;
    gap: 1rem;
  }

  .projects {
    grid-area: projects;
  }

  .contact {
    grid-area: contact;
  }

  .clip-circle {
    grid-area: image;
    clip-path: circle(100px at center);
    width: 200px;
  }

  .title {
    margin: 0.5rem 0;
  }

  .text {
    grid-area: text;
  }
}
