.app {
  &__header {
    border-bottom: 3rem solid transparent;
    border-image: url("../public/media/border2.svg") 20 stretch;
    text-align: center;

    h1 {
      font-family: "Patrick Hand";
      font-size: 400%;
      margin: 1rem 0;
    }

    nav {
      a {
        font-family: "Patrick Hand";
        font-size: 150%;
        padding: 0 2rem;
        outline: none;
        text-decoration: none;
        border-radius: 1rem;
      }
    }
  }

  &__body {
    display: grid;
    grid-template-areas: "about" "projects" "contact";
    padding: 3% 10%;

    h2 {
      font-family: "Inter Tight", "Helvetica Neue", "Helvetica", sans-serif;
      text-transform: uppercase;
      font-size: 200%;
    }

    h3 {
      letter-spacing: -0.1rem;
      font-size: 150%;
    }

    section {
      margin: 0.5rem 0;
    }
  }

  .card {
    background-color: ghostwhite;
    border: 2px solid black;
    border-radius: 5% 12% 2% 8%;
    padding: 1rem;
  }

  .about {
    grid-area: about;
    display: grid;
    grid-template-areas: "text image";
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 1rem;
  }

  .projects {
    grid-area: projects;
  }

  .contact {
    grid-area: contact;
  }

  .clip-circle {
    grid-area: image;
    clip-path: circle(100px at center);
    width: 200px;
  }

  .title {
    margin: 0.5rem 0;
  }

  .text {
    grid-area: text;
  }

  a {
    font-family: "Patrick Hand";
    padding: 0 0.2rem;
    outline: none;
    text-decoration: none;
    border-radius: 1rem;
  }

  a:link {
    color: rgb(230, 55, 230);
  }

  a:visited {
    color: rgb(163, 41, 163);
  }

  a:focus,
  a:hover {
    background: black;
    color: white;
  }

  a:active {
    border: 1px solid;
    background: rgb(230, 55, 230);
  }
}
