.app {
  &__header {
    border-bottom: 10px solid transparent;
    border-image: url("../public/media/border.svg") 30 stretch;
    text-align: center;

    h1 {
      background-image: url("../public/media/acrylic.svg");
      background-clip: text;
      color: transparent;
      -webkit-text-stroke: 0.5px gray;
      font-size: 300%;
      margin: 1rem 0;
    }

    nav {
      a {
        padding: 0 2rem;
      }
    }
  }

  &__body {
    display: grid;
    grid-template-areas: "about" "projects" "contact";
    padding: 5%;

    h2 {
      font-family: "Helvetica Neue", "Helvetica", sans-serif;
      text-transform: uppercase;
    }

    h3 {
      text-decoration: underline dotted rgb(143, 234, 228);
    }
  }

  .about {
    grid-area: "about";
  }

  .projects {
    grid-area: "projects";
  }

  .contact {
    grid-area: "contact";
  }

  .clip-circle {
    clip-path: circle(100px at center);
    width: 200px;
  }
}
